@import "./vendors/normalize.css" 

.background
    position absolute
    width 100%
    height 100%
    background red

.feel-good-css 
    display flex
    height 200px
    background-size contain
    background-image url('./assets/feel-good.png')